@using MudBlazor.Utilities
<section class="@SectionClassnames">
    <div class="section-background-container">
        <div class="@BackgroundClassnames">
            @Stripes
        </div>
        @if (StraightEnd)
        {
            <div class="@EndBackgroundClassnames"></div>
        }
    </div>
    <MudContainer MaxWidth="MaxWidth.Large">
        <div class="@ContainerClassnames">
            @ChildContent
        </div>
    </MudContainer>
</section>





