<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
            color: #333;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            max-width: 600px;
            margin: auto;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        p {
            line-height: 1.6;
        }
        .x_verification-code{
             font-size: 48px;
             line-height: 60px;
             color: #032e61; 
             margin: 12px 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Your Verification Code</h2>
        <p>Dear @Model.UserName,</p>
        <p>Thank you for choosing our service. Please use the following verification code to proceed with your secure login:</p>
        <h1 class="x_verification-code">@Model.AuthenticatorCode</h1>
        <p>This code is valid for 10 minutes only. Enter it on the verification page to continue.</p>
        <p>If you did not request this code, please contact our support team immediately.</p>
        <p>Best regards,</p>
        <p>The @Model.Company Team</p>
    </div>
</body>
</html>