<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Request</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
            color: #333;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            max-width: 600px;
            margin: auto;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .button {
            display: inline-block;
            background-color: #007bff;
            color: #ffffff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            margin-top: 20px;
        }

        p {
            line-height: 1.6;
        }
    </style>
</head>

<body>
    <div class="container">
        <p>@Model.AppName received a request to use email as a recovery email for the account @Model.Email.</p>
        <p>To complete the process, please click the link below:</p>
        <br>
        <p>
            <a href="@Model.RequestUrl" class="button">Reset Password</a>
        </p>
        <br>
        <p>This token string will expire in 1 hours. </p>
        <p>If you don't recognize @Model.Email, you can safely ignore this email.</p>
    </div>
</body>
</html>