@using Blazor.Server.UI.Models.Charts.Series
@inherits MudComponentBase

<MudElement @attributes="@UserAttributes"
            Class="@Classname"
            Style="@Style">
    <MudPaper Class="pa-4"
              Elevation="2"
              Style="height: 500px;">
        <div class="d-flex align-center"
             style="height: 60px">
            <MudText Typo="Typo.h6">
                Area Installed
            </MudText>
            <MudSpacer />
            <div style="width: 70px">
                <MudSelect Dense="true"
                           FullWidth="true"
                           Margin="Margin.Dense"
                           T="int"
                           Value="@_selectedYear"
                           ValueChanged="UpdateSeries">
                    <MudSelectItem Value="2020" />
                    <MudSelectItem Value="2019" />
                </MudSelect>
            </div>
        </div>
        @if (_chartOptions != null)
            {
                <ApexChart ChartOptions="_chartOptions"
                           ChartId="areaInstalled"
                           TCategory="string"
                           TSeries="SeriesModel<int>" />   
            }
    </MudPaper>
</MudElement>