@using CleanArchitecture.Blazor.Server.UI.Constants
@inherits LayoutComponentBase
@inject IStringLocalizer<SharedResource> L
<MudRTLProvider>
    <MudThemeProvider Theme="Theme.ApplicationTheme()"/>
    <MudLayout>
        <AuthorizeView>
            <NotAuthorized>
                <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">
                    <div class="d-flex flex-column mud-width-full">
                        <MudPaper Elevation="25" Class="pa-8" Width="100%" MaxWidth="500px">
                            <MudIcon Icon="@Icons.Custom.Brands.MudBlazor" Size="Size.Large" Style="width:100px; height:100px;"/>
                            @Body
                        </MudPaper>
                    </div>
                </MudContainer>
            </NotAuthorized>
            <Authorized>
                <RedirectToHome/>
            </Authorized>
        </AuthorizeView>
    </MudLayout>
</MudRTLProvider>

@code
{

}