@inherits MudComponentBase
@typeparam TSeries
@typeparam TCategory

<MudElement @attributes="@UserAttributes"
            Class="@Classname"
            Style="@Style">
    <div id="@ChartId"></div>
</MudElement>