<div class="my-component">
    This component is defined in the <strong>RazorClassLibraryCItyAppComponents</strong> library.
    <h1>Navigations should not be here ,its inside webapp or wasm project here all inside RazorClasssLibrary separately so component can be used in any type of project Wasm,Server,App even on Maui!</h1>
</div>
