@page "/pages/authentication/InvalidUser"
@inject IStringLocalizer<InvalidUser> L
<PageTitle>@L["Invalid user"]</PageTitle>

<h3>@L["Invalid user"]</h3>

<StatusMessage Error="true" Message="@L["Invalid username and/or password."]" />
