@page "/pages/authentication/invalidpasswordreset"
@inject IStringLocalizer<InvalidPasswordReset> L
<PageTitle>@L["Invalid password reset"]</PageTitle>

<h1>@L["Invalid password reset"]</h1>
<p>
    @L["The password reset link is invalid."]
</p>
@code{
    public const string PageUrl = "/pages/authentication/invalidpasswordreset";
}