@page "/public/index/{title?}"
<PageTitle>@Title</PageTitle>
<h2>Clean Architecture With Blazor Server</h2>

<p>
    This repository guides you through building robust and maintainable Blazor Server applications by embracing the principles of Clean Architecture. Experience a seamless development journey with the included, efficient code generator, empowering you to rapidly craft stunning web applications using the latest .NET Blazor technology.
</p>

@code {
    [Parameter] public string? Title { get; set; }
}