@page "/index2"

<h1>This is inside webassembly project Hello, world Madhu here only navigation or any main operations, remaining all inside RazorClasssLibrary separately so component can be used in any type of project Wasm,Server,App even on Maui!</h1>
@code 
{
    int x = 10;
}