<div class="px-4 py-2 rounded-br-xl rounded-l-xl theme-button"
     @onclick="OnClick">
    <MudTooltip Arrow="true"
                Placement="Placement.Left"
                Text="Themes">
        <MudIcon Icon="@Icons.Material.Filled.Brush"
                 Style="color: #05192d" />
    </MudTooltip>
</div>

<style>

    .theme-button {
        position: fixed;
        top: 50%;
        background: var(--mud-palette-white);
        z-index: 1150;
        right: 0;
        cursor: pointer;
        box-shadow: rgba(55,55,55,0.15) 0 0 2px 0, rgba(55,55,55,0.15) 0 8px 12px 0;
    }
    
</style>