name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out the repo
      uses: actions/checkout@v4
      
    - name: Increment version
      id: increment_version
      uses: username/increment-version-action@v1
      with:
        path: './VERSION' 
        
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
   

    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: dockerksjscn/cleanarchitectureblazorserver:${{ steps.increment_version.outputs.version }}
     
