name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out the repo
      uses: actions/checkout@v4
      
    - name: Get next version
      uses: reecetech/version-increment@2023.10.1
      id: version
      with:
        use_api: true
        
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
   

    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: dockerksjscn/cleanarchitectureblazorserver:${{ steps.version.outputs.version }}

    - name: Build and push with last tag
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: dockerksjscn/cleanarchitectureblazorserver:last
     
